<html>

<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <link rel="icon" href="favicon.ico">
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
</head>

<body>
  <div class="container" id="app">
    <div class="row">
      <div class="col-md-3">
          <h2>
            SCC <small>配置中心</small>
          </h2>
      </div>
      <div class="col-md-3 col-md-offset-6 text-right">
        <h3>{{ user.name }} - {{ user.token }}</h3>
        上次登陆时间：{{ user.last }}
      </div>
    </div>
    <hr/>
    <div class="row">
      <!-- 左侧导航栏 -->
      <div class="col-md-3">
        <div style="height: 20px;"></div>
        <select id="servSelect" class="selectpicker show-tick" data-live-search="true">
          <option v-for="serv in services" :value="serv.id">{{ serv.name }}</option>
        </select>
        <ul class="nav nav-pills nav-stacked">
          <li v-for="env in envs" @click="updateEnv(env)"><a>{{ env.text }}</a></li>
        </ul>
      </div>

      <!-- 右侧主体 -->
      <div class="col-md-9">
        <h3>
          {{ service.name }} <small><span class="label label-default">{{ env.text }} - {{ env.id }}</span></small>
        </h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>健</th>
              <th>值</th>
              <th><button class="btn btn-primary" @click="addItem">新增</button></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="data in datas">
              <td scope="row">{{ data.id }}</td>
              <td>{{ data.key }}</td>
              <td>{{ data.value }}</td>
              <td>
                <div>
                  <button class="btn btn-primary" @click="editItem(data)">编辑</button>
                  <button class="btn btn-danger" @click="deleteItem(data.id)">删除</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</body>
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      envs: [
        {id:0, text:'online'}, 
        {id:1, text:'gray_a'},
        {id:2, text:'gray_b'},
        {id:3, text:'test_a'},
        {id:4, text:'test_b'}
      ],
      service: {id:1, name:'订单子系统'},
      env: {id:0, text:'online'},
      datas: [],
      services: [],
      user: {}
    },
    methods: {
      initUserInfo() {
        this.user = {name: window.localStorage['user'], 
                    token: window.localStorage['token'],
                    last: window.localStorage['last']}
      },
      addItem() {
        alert("add item");
      },
      editItem(e) {
        alert(e);
      },
      deleteItem() {

      },
      updateEnv(env) {
        this.env = env;
        this.query();
      },
      query() {
        let vm = this;
        $.ajax({
          type: 'GET',
          data: {service_id: vm.service.id, env_id: vm.env.id},
          url: 'http://localhost:8081/conf/list',
          beforeSend: function() {
            //console.log("===1===");
          },
          success: function(res) {
            var resp = JSON.parse(res)
            if (resp.status === 0) {
              vm.datas = resp.data;
            } else {
              alert(resp.message);
            }
          },
          error: function(e) {
            console.log(e)
          },
          complete: function() {
            //console.log("===2===")
          }
        });
      },
      queryService() {
        let vm = this;
        $.ajax({
          type: 'GET',
          url: 'http://localhost:8081/serv/list',
          success: function(res) {
            var resp = JSON.parse(res)
            if (resp.status === 0) {
              vm.services = resp.data;
            } else {
              alert(resp.message);
            }
          },
          error: function(e) {
            console.log(e)
          },
          complete: function() {
            vm.selectLoaded();
            vm.selectChanged();
          }
        });
      },
      selectChanged() {
        // $('#servSelect').on('loaded.bs.select', function (e) {
        //   console.log("loaded")
        // });

        // $('#servSelect').on('shown.bs.select', function (e) {
        //   console.log("shown")
        // });

        // $('#servSelect').on('hiden.bs.select', function (e) {
        //   console.log("hidden")
        // });
        let vm = this;
        $('#servSelect').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
          console.log("selectpicker changed");
          vm.service = {id:this.options[clickedIndex].value, name:this.options[clickedIndex].text};
          vm.query();
        });
      },
      selectLoaded() {
        let vm = this;
        $('#servSelect').on('loaded.bs.select', function (e) {
          console.log("selectpicker loaded");
          vm.service = {id:this.options[0].value, name:this.options[0].text};
          vm.query();
        });
      }
    },
    mounted() {
        this.initUserInfo();
        this.queryService();
      }
  });
</script>
</html>